### Java / Maven / Spring Boot ###
target/
*.class
*.jar
*.war
.mvn/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### IDE ###
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

### Android / Kotlin ###
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab

### Application secrets ###
application-local.properties
*.env

### H2 database files ###
*.mv.db
*.trace.db

### OS files ###
Thumbs.db